.mxd
.shp
,dbf
.prj
.sbn
.sbx
.ain
.ixs
.mxd.xml
.sld
.lyr
.qix
.geodatabase
.gdb
.gdbtable
.gdbtabx
.gdbindexes
.gdbtypes
.gdbtemplates
.gdbtools
.tif
.tfw
.tiff
.sid
.jpg
.jgw
.jpeg
.j2k
.jp2
.csv
.xslx
.gpkg
.kml
.kmz
.vrt
.ovr
.cache
.aux
.aux.xml
.rst
.cpg
.dbf.xml
.atx
.ind
.shx
.flt
.rrd
.msk
.sld.xml
.lyr


